


#theCanvas{
	background-color: white;
	background: url(BG.png);
	position: absolute;
	top: 0vw;
	left: 0vw;
	width: 100vw;


}
#cartoonImg{
opacity: 0;
    filter: alpha(opacity=0);
   	width: 50px;
	height: 50px;
	position: fixed;
	top: 1000px;
}

#cartoonBallImg{
	position: absolute;
}

#text{
	display: none;
}
#text2{
	display: none;
}
#score{
	top: 5vh;
	position: absolute;
	width: 20vw;
	height: 50px;
	right: 50px;
	font-size: 48px;
	left: 40vw;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: white;
}

#title{
	font-family: 'Roboto', sans-serif;
	font-size: 56px;
	position: absolute;
	top: 2vh;
	left: 5vw;
	color: white;
}